<h1 class="display-4 text-center">PALETAS</h1>
<table class="table table-sm text-center">
    <thead>
      <tr>
        <th scope="col">Modelo</th>
        <th scope="col">Peso</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Precio</th>
        <th scope="col"></th>
        <th scope="col">Comprar</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let paleta of paletas; let indice=index" [ngClass]="{'alert alert-success':paleta.promocion}">
            <th scope="row">{{paleta.modelo}}</th>
            <td>{{paleta.peso}}</td>
            <td>{{paleta.descripcion}}</td>
            <td>{{paleta.precio | currency:"USD"}}</td>
            <td><span class="badge badge-warning" *ngIf="paleta.stock == 0">SIN STOCK</span></td>
            <td>
              <app-input-number *ngIf="paleta.stock != 0" [(cantidad)]="paleta.cantidad" [max]="paleta.stock" (maxAlcanzado)="maxAlcanzado($event)"></app-input-number>
              <button type="button" class="btn btn-primary" (click)="agregarAlCarrito(paleta)">Agregar al carrito</button>
            </td>
        </tr>    
    </tbody>
  </table>
