<h2 class="display-4">SOBRE NOSOTROS</h2>
<p class="lead">Esta es la pagina de una estudiante de TUDAI</p>
<p><span class="bd-lead">padelStore</span> 
    es una empresa Americana involucrada en el diseño, desarrollo, creacion, marketin mundial y venta de paletas de paddel.
</p>
<p>
    Las sedes mundiales principales de la compañias estan situadas cerca de Beaverton, Oregon, en el area Metropolitana de Portland (USA). Es el principal productor de paletas de paddel.
</p>
<p>
    La compañia emplea a mas de 44.000 personas a lo largo del mundo. En 2018, la marca fue valorada por $19 billones. De esta manera, se volvio la marca mas valorada dentro del mundo del deporte.
</p>
<p>
    padelStore sponsorea a mucho reconocidos atletas alrededor del mundo, tales como Alejandro Galan, Ariana Sanches y Fernando Belasteguin.
</p>
<h2 class="display-4">NUESTRA MISION</h2>
<p>
    La mision de padelStore es brindar productos innovadores para los atletas de todo el mundo. Se prueban innumerables ideas con el fin de ayudar al rendimiento, reducir el riesgo de lesiones, mejorar la percepción y la sensación.
</p>
